body{
    margin:0;
    font-family: 'Calibri'; 
    /*'Candara','Segoe','Segoe UI','Optima','Arial','sans-serif'
*/
}
#container{
 min-width: 100%;
 min-height: 100%;
 margin: 0;
 display:grid;
 grid-template-columns: 1fr 350px;
}

#progress-bar h1{
    font-size: 12pt;

}

#mainView{
    min-height: 100%;
    background-color: black;
}
#pageView{
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
    padding: 15px;
    box-sizing: border-box;
}

#legend{
position: absolute;
width: 350px;
right:0;
/* z-index: 500; */
 min-height: 100%;
 background-color: rgba(255, 255, 255, 0.9);
 margin: 0;
 display:grid;
 grid-template-rows: repeat(9,1fr);
 font-size: 7pt;
 overflow-y: scroll;
 max-height: 100%;
}
#legend h1{
    align-items: center;
    text-align:left;
    margin-left: 30px;
}
.task-div:hover{
    background-color: rgba(78, 75, 75, 0.2);
    cursor:pointer;


}
.task-div:before{

}
#adoption-task-1 h1:before, #adoption-task-2 h1:before, #adoption-task-3 h1:before, #adoption-task-4 h1:before{
    content: "";
    display: block;
    background: url(../images/completed.png) no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0; 
    background-size: contain
}
#adoption-task-5 h1:before, #adoption-task-6 h1:before {
    content: "";
    display: block;
    background: url(../images/pending.png) no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0; 
    background-size: contain
}
adoption-task-7{
    display: hidden;
}

/* .task-div h1:before{
    content: "";
    display: block;
    background: url(../images/completed.png);
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0; 
    background-size: contain

} */
.task-div p,.task-div h1 ,.task-div ul li{
    text-align:left;
    margin-left: 30px;
    font-size: 12pt;
}

#fast_internet_index h1, #infrastructure_index h1, #hospitals_index h1, #pharmacies_index h1, #mosques_index h1, #schools_index h1, #population_density_index h1{
    align-items: center;
    text-align:left;
    margin-left: 30px;
}
#logo{
    display: block;
    width: 50%;
    margin: auto;
    align-items: center;
    align-content: center;
}
.indicator_border{
    width: 100%;
    height: 10px;
    margin: auto;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    border: 1px solid rgb(220,220,220);
}
.indicator{
    width: 69%;
    height: 100%;
    background-color: #4cd44c;
    border-radius: 10px;
    float: left;
} 

.indicator-container{
    width:80%;
    height: 14px;
    margin: auto;
    margin-bottom: 2px;
    align-content: center;
    display: flex
}
.indicator-percent{
    margin-left: 5px;
    font-size: 12pt;

}